<div class="row">
  <div class="jumbotron col-md-7">
    <table class="table">
      <thead>
      <tr>
        <th class="col-md-9">Item</th>
        <th class="col-md-2">Price</th>
        <th class="col-md-1"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let movie of summary.movies">
        <td>{{movie.title}}</td>
        <td>{{movie.price}}</td>
        <td>
          <button class="btn btn-danger" (click)="removeMovie(movie)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-danger" (click)="clearBasket()">Clear</button>
  </div>
  <div class="col-md-5">
    <div class="jumbotron">
      <div>
        <h3>Vouchers</h3>
        <form class="form">
          <div>
            <div [hidden]="!voucherError" class="alert alert-warning">{{voucherError}}</div>
            <label htmlFor="voucherCode">Apply Voucher</label>
            <input type="text" placeholder="Enter voucher code" [(ngModel)]="voucherCode"
                   name="voucherCode">
            <input class="btn btn-primary" type="button" [disabled]="isApplyingVoucher"
                   value="Apply" (click)="applyVoucherCode()">
          </div>
        </form>
      </div>

      <br>
      <table class="table">
        <tbody>
        <tr *ngIf="summary.voucher">
          <td><h4>Voucher:</h4></td>
          <td><h4>{{summary.voucher.name}}</h4></td>
        </tr>
        <tr *ngIf="summary.voucher">
          <td><h4>Discounts:</h4></td>
          <td><h4>-{{summary.voucher.discount | currency:'GBP':true:'1.2-2'}}</h4></td>
        </tr>
        <tr>
          <td><h3>Total Cost: </h3></td>
          <td><h3>{{summary.total | currency:'GBP':true:'1.2-2'}}</h3></td>
        </tr>
        </tbody>
      </table>

      <button class="btn btn-success" (click)="checkout()">Purchase</button>
    </div>
  </div>
</div>
